<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presensi/Personalia</title>
    <link rel="stylesheet" href="/css/dashboard.css">
<body>
    <header>
        <div class="header-content">
            <div class="store-info">
                <h1>Sales</h1>
                <p>Manajemen Penjualan</p>
            </div>
        </div>
        <div class="time-info">
            <p id="tanggal">Hari/Tanggal: </p>
            <p id="waktu">Pukul: </p>
        </div>
    </header>

    <div class="main">
        <div class="sidebar">
            <button class="menu-item" onclick="window.location.href='/sales/posnet'">POS NET</button>
            <button class="menu-item" onclick="window.location.href='/sales/laporan-sales'">Laporan Sales</button>
            <button class="menu-item" onclick="window.location.href='/sales/tutupan-harian'">Tutupan Harian</button>
            <button class="menu-item" onclick="window.location.href='/dashboard'">Kembali</button>
        </div>

    <script src="/js/dashboard.js"></script>
</body>
</html>
